<div class="space-30"></div>
<div class="row">
  <div class="col-12">
    <h2 class="ak-title text-center">This tutorial is going for <span class="ak-title-lg">Component Interaction</span></h2>
  </div>
</div>
<div class="space-20"></div>
<div class="row">
  <div class="col-3">
    <div routerLink="/input-based" class="card">
      <div class="card-body">
        <h2 class="ak-title">@Input</h2>
        <h3 class="ak-sub-title">Parent to Child</h3>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div routerLink="/output-based" class="card">
      <div class="card-body">
        <h2 class="ak-title">@Output</h2>
        <h3 class="ak-sub-title">Child to Parent</h3>
      </div>
    </div>
  </div>
</div>
